Repository Lego4005/nfl-predictor-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: model-size-check, api-schema-validation, migration-check, env-vars-check

model-size-check:
  name: Check ML Model File Sizes
  entry: python scripts/check_model_sizes.py
  language: system
  pass_filenames: true

api-schema-validation:
  name: Validate API Schema
  entry: python scripts/validate_api_schema.py
  language: system
  pass_filenames: false

migration-check:
  name: Check Database Migrations
  entry: python scripts/check_migrations.py
  language: system
  pass_filenames: true

env-vars-check:
  name: Check Environment Variables
  entry: python scripts/check_env_vars.py
  language: system
  pass_filenames: false

🔖 Checkpoint: Edit /home/iris/code/experimental/nfl-predictor-api/src/hooks/confidencePool.ts
  src/hooks/confidencePool.ts
Due: none

🔖 Checkpoint: Edit /home/iris/code/experimental/nfl-predictor-api/tests/simulation/monte_carlo.py
  tests/simulation/monte_carlo.py
Due: none

🔖 Checkpoint: Edit /home/iris/code/experimental/nfl-predictor-api/tests/backtesting/__init__.py
  tests/backtesting/__init__.py
Due: none

🔖 Checkpoint: Edit /home/iris/code/experimental/nfl-predictor-api/tests/simulation/__init__.py
  tests/simulation/__init__.py
Due: none

🔖 Checkpoint: Edit /home/iris/code/experimental/nfl-predictor-api/tests/backtesting/README.md
  tests/backtesting/README.md
Due: none

🔖 Checkpoint: Edit /home/iris/code/experimental/nfl-predictor-api/tests/simulation/README.md
  tests/simulation/README.md
Due: none

🔖 Checkpoint: Edit /home/iris/code/experimental/nfl-predictor-api/tests/requirements.txt
  tests/requirements.txt
Due: none

🔖 Checkpoint: Edit /home/iris/code/experimental/nfl-predictor-api/src/api/routers/experts.py
  src/api/routers/experts.py
Due: api-schema-validation

🔖 Checkpoint: Edit /home/iris/code/experimental/nfl-predictor-api/src/api/routers/council.py
  src/api/routers/council.py
  tests/fixtures/nfl_2023_season.csv
  tests/fixtures/nfl_2023_season.json
  tests/fixtures/nfl_2024_season.csv
  tests/fixtures/nfl_2024_season.json
Due: api-schema-validation

🔖 Checkpoint: Edit /home/iris/code/experimental/nfl-predictor-api/src/api/routers/bets.py
  src/api/routers/bets.py
Due: api-schema-validation

🔖 Checkpoint: Edit /home/iris/code/experimental/nfl-predictor-api/tests/services/__init__.py
  tests/services/__init__.py
Due: none

🔖 Checkpoint: Edit /home/iris/code/experimental/nfl-predictor-api/src/api/routers/games.py
  src/api/routers/games.py
Due: api-schema-validation

🔖 Checkpoint: Edit /home/iris/code/experimental/nfl-predictor-api/docs/BETTING_SYSTEM_IMPLEMENTATION.md
  docs/BETTING_SYSTEM_IMPLEMENTATION.md
Due: none

🔖 Checkpoint: Edit /home/iris/code/experimental/nfl-predictor-api/src/api/main.py
  src/api/main.py
Due: api-schema-validation

🔖 Checkpoint: Edit /home/iris/code/experimental/nfl-predictor-api/tests/backtesting/backtest_runner.py
  tests/backtesting/backtest_runner.py
Due: none

🔖 Checkpoint: Edit /home/iris/code/experimental/nfl-predictor-api/src/api/models/__init__.py
  src/api/models/__init__.py
Due: api-schema-validation

🔖 Checkpoint: Edit /home/iris/code/experimental/nfl-predictor-api/src/api/routers/__init__.py
  src/api/routers/__init__.py
Due: api-schema-validation

🔖 Checkpoint: Edit /home/iris/code/experimental/nfl-predictor-api/src/services/__init__.py
  src/services/__init__.py
Due: api-schema-validation

🔖 Checkpoint: Edit /home/iris/code/experimental/nfl-predictor-api/src/api/services/__init__.py
  src/api/services/__init__.py
Due: api-schema-validation

🔖 Checkpoint: Edit /home/iris/code/experimental/nfl-predictor-api/tests/hooks/confidencePool.test.ts
  tests/hooks/confidencePool.test.ts
Due: none

🔖 Checkpoint: Edit /home/iris/code/experimental/nfl-predictor-api/src/api/websocket/__init__.py
  src/api/websocket/__init__.py
Due: api-schema-validation

🔖 Checkpoint: Edit /home/iris/code/experimental/nfl-predictor-api/docs/DATA_INGESTION_SETUP.md
  docs/DATA_INGESTION_SETUP.md
  tests/reports/backtest_2023.json
Due: none

🔖 Checkpoint: Edit /home/iris/code/experimental/nfl-predictor-api/docs/CONFIDENCE_POOL_HOOKS.md
  docs/CONFIDENCE_POOL_HOOKS.md
Due: none

🔖 Checkpoint: Edit /home/iris/code/experimental/nfl-predictor-api/tests/api/__init__.py
  tests/api/__init__.py
Due: none

🔖 Checkpoint: Edit /home/iris/code/experimental/nfl-predictor-api/scripts/start_api.sh
  scripts/start_api.sh
Due: none

🔖 Checkpoint: Edit /home/iris/code/experimental/nfl-predictor-api/docs/API_IMPLEMENTATION_GUIDE.md
  docs/API_IMPLEMENTATION_GUIDE.md
Due: none

🔖 Checkpoint: Edit /home/iris/code/experimental/nfl-predictor-api/requirements.txt
  requirements.txt
  tests/reports/monte_carlo_results.json
  tests/reports/monte_carlo_trajectories.png
Due: none

🔖 Checkpoint: Edit /home/iris/code/experimental/nfl-predictor-api/.env.example
  .env.example
Due: env-vars-check

🔖 Checkpoint: Edit /home/iris/code/experimental/nfl-predictor-api/src/services/README.md
  src/services/README.md
Due: none

🔖 Checkpoint: Edit /home/iris/code/experimental/nfl-predictor-api/docs/API_QUICKSTART.md
  docs/API_QUICKSTART.md
Due: none

🔖 Checkpoint: Edit /home/iris/code/experimental/nfl-predictor-api/docs/CONFIDENCE_POOL_IMPLEMENTATION_SUMMARY.md
  docs/CONFIDENCE_POOL_IMPLEMENTATION_SUMMARY.md
Due: none

🔖 Checkpoint: Edit /home/iris/code/experimental/nfl-predictor-api/tests/TESTING_SUMMARY.md
  tests/TESTING_SUMMARY.md
Due: none

🔖 Checkpoint: Edit /home/iris/code/experimental/nfl-predictor-api/docs/DATA_INGESTION_DELIVERABLES.md
  docs/DATA_INGESTION_DELIVERABLES.md
Due: none

🔖 Checkpoint: Edit /home/iris/code/experimental/nfl-predictor-api/docs/BETTING_SYSTEM_DELIVERY.md
  docs/BETTING_SYSTEM_DELIVERY.md
Due: none

🔖 Checkpoint: Edit /home/iris/code/experimental/nfl-predictor-api/examples/betting_system_demo.py
  docs/API_SUMMARY.md
  examples/betting_system_demo.py
Due: none

🔖 Checkpoint: Edit /home/iris/code/experimental/nfl-predictor-api/tests/README_BACKTESTING.md
  tests/README_BACKTESTING.md
Due: none

🔖 Checkpoint: Edit /home/iris/code/experimental/nfl-predictor-api/docs/IMPLEMENTATION_STATUS.md
  RUN_API.md
  docs/IMPLEMENTATION_STATUS.md
Due: none

🏁 Session end checkpoint: session-20250929-201808
  .claude-flow/metrics/performance.json
  .claude-flow/metrics/system-metrics.json
  .claude-flow/metrics/task-metrics.json
  examples/betting_system_demo.py
  scripts/start_api.sh
Due: none

🔖 Task: i think we do A then B then C update your document and task list and gap ultrathink ...
  .claude-flow/metrics/performance.json
  .claude-flow/metrics/system-metrics.json
  .claude-flow/metrics/task-metrics.json
Due: none

🔖 Checkpoint: Edit /home/iris/code/experimental/nfl-predictor-api/docs/ROADMAP_A_B_C.md
  docs/ROADMAP_A_B_C.md
Due: none

Path conditions:
  model-size-check: any of: \.pkl$|\.joblib$|\.h5$|\.pb$
  api-schema-validation: any of: ^src/.*\.py$
  migration-check: any of: ^alembic/versions/.*\.py$
  env-vars-check: any of: ^\.env\..*$|^src/config/.*\.py$
